__pycache__
runs
.idea
*.npy
*.pt
weights
cam_jpgs_resnet_new
cam_rew
data/txt
re
deep_f
radiomics/*.npy
radiomics/img
radiomics/lung
radiomics/mask
radiomics/*.jpg
example
saves
ipt_results
radiomics
reader*
view_segs
*.csv
*.xlsx
segmentation/*.pth
*.vscode
analysis_tools
*.jpg
*.list
*.sh
answer*.txt
error.txt
log.txt
val_slices_count.txt
save*
logs
key_result
multi*
pic
fractal-dimension
*.pkl
clinic_analysis